body {
   font-family: 'Signika',  sans-serif;
    height: 100vh;
    background-color: #2ec162;
}
.interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 7px;
    height: 900px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    align-items: center;
}
header img {
    width: 23px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
}
a::before {
    content: "";
    background-color: #2ec162;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
nav a {
    color: #757575;
    margin-right: 25px;
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
    align-items: center;
    margin-top: 10px;
}
figure img {
    width: 300px;
    border-radius:50%;
    position: relative;
    left: 530px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.nome {
    color: #757575;
    position: relative;
    left: 120px;
    top: 200px;
    font-size: 25px;
} 
.nome h1 {
    padding-bottom: 40px;
}