body {
    font-family: 'Signika',  sans-serif;
     height: 100vh;
     background-color: #2ec162;
 }
 .interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 7px;
    height: 900px;
}